## <font color='157699'> Importación de Librerías
---

In [ ]:
# Ignorar warnings
import warnings
warnings.filterwarnings("ignore")
warnings.filterwarnings("default")

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 as sql 
#import a_Funciones as funciones
%matplotlib inline

ModuleNotFoundError: No module named 'a_Funciones'

In [26]:
from IPython.display import display, Markdown
pd.set_option('display.max_columns', None)

## <font color='157699'> Importación de Datos
---

In [5]:
# general_data
df_general = pd.read_csv("https://raw.githubusercontent.com/Leostark95/Analitica_3_Proyecto_1/main/data/db_general.csv", sep =",")
# employee_survey_data
df_employee = pd.read_csv("https://raw.githubusercontent.com/Leostark95/Analitica_3_Proyecto_1/main/data/db_employee.csv", sep =",")
# manager_survey
df_manager = pd.read_csv("https://raw.githubusercontent.com/Leostark95/Analitica_3_Proyecto_1/main/data/db_manager.csv", sep = ",")
# retirement_info
df_retirement = pd.read_csv("https://raw.githubusercontent.com/Leostark95/Analitica_3_Proyecto_1/main/data/db_retirement.csv", sep = ",")

## <font color='157699'> Análisis descriptivo

In [37]:
'''
Esta función debe ir en el archivo funciones pero como no me da para importarlo mientras la coloco por acá
'''
def check_df(dataframe, head=5):
    display(Markdown('**Shape**'))
    display(dataframe.shape)

    display(Markdown('**Types**'))
    display(dataframe.dtypes)

    display(Markdown('**Head**'))
    display(dataframe.head(head))

    display(Markdown('**NA**'))
    display(dataframe.isnull().sum())

    display(Markdown('**Quantiles**'))
    display(dataframe.describe([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

In [35]:
check_df(df_general)

**Shape**

(8820, 24)

**Types**

Age                          int64
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeID                   int64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
InfoDate                    object
dtype: object

**Head**

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,InfoDate
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0,2015-12-31
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,Research Scientist,Single,41890,0.0,Y,23,8,1,6.0,3,5,1,4,2015-12-31
2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,Sales Executive,Married,193280,1.0,Y,15,8,3,5.0,2,5,0,3,2015-12-31
3,38,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,Human Resources,Married,83210,3.0,Y,11,8,3,13.0,5,8,7,5,2015-12-31
4,32,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,Sales Executive,Single,23420,4.0,Y,12,8,2,9.0,2,6,0,4,2015-12-31

**NA**

Age                         0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         38
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears          18
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
InfoDate                    0
dtype: int64

**Quantiles**

,count,mean,std,min,0%,5%,50%,95%,99%,100%,max
Age,8820.0,36.923810,9.132783,18.0,18.0,24.00,36.0,54.0,59.0,60.0,60.0
DistanceFromHome,8820.0,9.192517,8.104566,1.0,1.0,1.00,7.0,26.0,29.0,29.0,29.0
Education,8820.0,2.912925,1.023875,1.0,1.0,1.00,3.0,4.0,5.0,5.0,5.0
EmployeeCount,8820.0,1.000000,0.000000,1.0,1.0,1.00,1.0,1.0,1.0,1.0,1.0
EmployeeID,8820.0,2591.500000,1812.892315,1.0,1.0,239.95,2401.0,6421.1,8535.0,8813.0,8813.0
JobLevel,8820.0,2.063946,1.106626,1.0,1.0,1.00,2.0,4.0,5.0,5.0,5.0
MonthlyIncome,8820.0,65029.312925,47066.219877,10090.0,10090.0,20970.00,49190.0,178560.0,196270.0,199990.0,199990.0
NumCompaniesWorked,8782.0,2.694830,2.498745,0.0,0.0,0.00,2.0,8.0,9.0,9.0,9.0
PercentSalaryHike,8820.0,15.209524,3.658900,11.0,11.0,11.00,14.0,22.0,25.0,25.0,25.0
StandardHours,8820.0,8.000000,0.000000,8.0,8.0,8.00,8.0,8.0,8.0,8.0,8.0
StockOptionLevel,8820.0,0.793878,0.851835,0.0,0.0,0.00,1.0,3.0,3.0,3.0,3.0
TotalWorkingYears,8802.0,11.279936,7.781780,0.0,0.0,1.00,10.0,28.0,35.0,40.0,40.0
TrainingTimesLastYear,8820.0,2.799320,1.288905,0.0,0.0,1.00,3.0,5.0,6.0,6.0,6.0
YearsAtCompany,8820.0,7.008163,6.124788,0.0,0.0,1.00,5.0,20.0,31.0,40.0,40.0
YearsSinceLastPromotion,8820.0,2.187755,3.221517,0.0,0.0,0.00,1.0,9.0,14.0,15.0,15.0
YearsWithCurrManager,8820.0,4.123129,3.567124,0.0,0.0,0.00,3.0,10.0,14.0,17.0,17.0

In [38]:
check_df(df_employee)

**Shape**

(8820, 5)

**Types**

EmployeeID                   int64
EnvironmentSatisfaction    float64
JobSatisfaction            float64
WorkLifeBalance            float64
DateSurvey                  object
dtype: object

**Head**

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,DateSurvey
0,1,3.0,4.0,2.0,2015-12-31
1,2,3.0,2.0,4.0,2015-12-31
2,3,2.0,2.0,1.0,2015-12-31
3,4,4.0,4.0,3.0,2015-12-31
4,5,4.0,1.0,3.0,2015-12-31

**NA**

EmployeeID                  0
EnvironmentSatisfaction    50
JobSatisfaction            40
WorkLifeBalance            76
DateSurvey                  0
dtype: int64

**Quantiles**

,count,mean,std,min,0%,5%,50%,95%,99%,100%,max
EmployeeID,8820.0,2591.500000,1812.892315,1.0,1.0,239.95,2401.0,6421.1,8535.0,8813.0,8813.0
EnvironmentSatisfaction,8770.0,2.723603,1.092694,1.0,1.0,1.00,3.0,4.0,4.0,4.0,4.0
JobSatisfaction,8780.0,2.728246,1.101190,1.0,1.0,1.00,3.0,4.0,4.0,4.0,4.0
WorkLifeBalance,8744.0,2.761436,0.706205,1.0,1.0,1.00,3.0,4.0,4.0,4.0,4.0

In [39]:
check_df(df_manager)

**Shape**

(8820, 4)

**Types**

EmployeeID            int64
JobInvolvement        int64
PerformanceRating     int64
SurveyDate           object
dtype: object

**Head**

   EmployeeID  JobInvolvement  PerformanceRating  SurveyDate
0           1               3                  3  2015-12-31
1           2               2                  4  2015-12-31
2           3               3                  3  2015-12-31
3           4               2                  3  2015-12-31
4           5               3                  3  2015-12-31

**NA**

EmployeeID           0
JobInvolvement       0
PerformanceRating    0
SurveyDate           0
dtype: int64

**Quantiles**

,count,mean,std,min,0%,5%,50%,95%,99%,100%,max
EmployeeID,8820.0,2591.500000,1812.892315,1.0,1.0,239.95,2401.0,6421.1,8535.0,8813.0,8813.0
JobInvolvement,8820.0,2.729932,0.711359,1.0,1.0,1.00,3.0,4.0,4.0,4.0,4.0
PerformanceRating,8820.0,3.153741,0.360721,3.0,3.0,3.00,3.0,4.0,4.0,4.0,4.0

In [41]:
check_df(df_retirement)

**Shape**

(711, 5)

**Types**

EmployeeID            int64
Attrition            object
retirementDate       object
retirementType       object
resignationReason    object
dtype: object

**Head**

   EmployeeID Attrition retirementDate retirementType resignationReason
0           2       Yes     2016-10-15    Resignation            Others
1           7       Yes     2016-07-20    Resignation            Stress
2          14       Yes     2016-11-08    Resignation            Others
3          29       Yes     2016-10-15    Resignation            Others
4          31       Yes     2016-02-08    Resignation            Salary

**NA**

EmployeeID            0
Attrition             0
retirementDate        0
retirementType        0
resignationReason    70
dtype: int64

**Quantiles**

,count,mean,std,min,0%,5%,50%,95%,99%,100%,max
EmployeeID,711.0,2191.767932,1270.136654,2.0,2.0,231.5,2165.0,4178.0,4366.6,4403.0,4403.0