## <font color='157699'> Importación de Librerías
---

In [3]:
# Ignorar warnings
import warnings
warnings.filterwarnings("ignore")
warnings.filterwarnings("default")

In [4]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
import sqlite3 as sql 
import a_funciones as funciones

In [5]:
from IPython.display import display, Markdown
pd.set_option('display.max_columns', None)

## <font color='157699'> Importación de Datos
---

In [47]:
# Manuela 
# Datos del 2015
df_2015 = pd.read_csv("C:\\Users\\Manuela\\Documents\\Analitica 3\\Analitica_3_Proyecto_1\\processed_data_2015.csv", sep =",")
# Datos del 2016
df_2016 = pd.read_csv("C:\\Users\Manuela\\Documents\\Analitica 3\\Analitica_3_Proyecto_1\\processed_data_2016.csv", sep =",")

<>:5: DeprecationWarning: invalid escape sequence '\M'
<>:5: DeprecationWarning: invalid escape sequence '\M'
C:\Users\Manuela\AppData\Local\Temp\ipykernel_11172\661627400.py:5: DeprecationWarning: invalid escape sequence '\M'
  df_2016 = pd.read_csv("C:\\Users\Manuela\\Documents\\Analitica 3\\Analitica_3_Proyecto_1\\processed_data_2016.csv", sep =",")

In [12]:
# Sofia
# Datos del 2015
df_2015 = pd.read_csv("C:\\Users\delva\OneDrive - Universidad de Antioquia\SEMESTRE 2024-2\\ANALITICA 3\\Proyecto_RRHH\\processed_data_2015.csv", sep =",")
# Datos del 2016
df_2016 = pd.read_csv("C:\\Users\delva\OneDrive - Universidad de Antioquia\SEMESTRE 2024-2\\ANALITICA 3\\Proyecto_RRHH\\processed_data_2016.csv", sep =",")

<>:3: DeprecationWarning: invalid escape sequence '\d'
<>:5: DeprecationWarning: invalid escape sequence '\d'
<>:3: DeprecationWarning: invalid escape sequence '\d'
<>:5: DeprecationWarning: invalid escape sequence '\d'
C:\Users\delva\AppData\Local\Temp\ipykernel_6608\4033405942.py:3: DeprecationWarning: invalid escape sequence '\d'
  df_2015 = pd.read_csv("C:\\Users\delva\OneDrive - Universidad de Antioquia\SEMESTRE 2024-2\\ANALITICA 3\\Proyecto_RRHH\\processed_data_2015.csv", sep =",")
C:\Users\delva\AppData\Local\Temp\ipykernel_6608\4033405942.py:5: DeprecationWarning: invalid escape sequence '\d'
  df_2016 = pd.read_csv("C:\\Users\delva\OneDrive - Universidad de Antioquia\SEMESTRE 2024-2\\ANALITICA 3\\Proyecto_RRHH\\processed_data_2016.csv", sep =",")

In [4]:
# Leo
# Datos del 2015
df_2015 = pd.read_csv("C:/Users/cr-19/OneDrive - Universidad de Antioquia/2024-2/Aplicaciones de la Analítica/Entregas/Analitica_3_Proyecto_1/processed_data_2015.csv", sep =",")
# Datos del 2016
df_2016 = pd.read_csv("C:/Users/cr-19/OneDrive - Universidad de Antioquia/2024-2/Aplicaciones de la Analítica/Entregas/Analitica_3_Proyecto_1/processed_data_2015.csv", sep =",")

In [ ]:
# Karen
# Datos del 2015
df_2015 = pd.read_csv("C:\Users\Manuela\Documents\Analitica 3\Analitica_3_Proyecto_1\processed_data_2015.csv", sep =",")
# Datos del 2016
df_2016 = pd.read_csv("C:\Users\Manuela\Documents\Analitica 3\Analitica_3_Proyecto_1\processed_data_2016.csv", sep =",")

## <font color='157699'> Análisis descriptivo

In [13]:

from IPython.display import display, Markdown
def check_df(dataframe, head=5):
    display(Markdown('**Shape**'))
    display(dataframe.shape)

    display(Markdown('**Types**'))
    display(dataframe.dtypes)

    display(Markdown('**Head**'))
    display(dataframe.head(head))

    display(Markdown('**NA**'))
    display(dataframe.isnull().sum())

    display(Markdown("**Duplicated**"))
    display(dataframe.duplicated().sum())

In [14]:
check_df(df_2015)

**Shape**

(4308, 20)

**Types**

EmployeeID                   int64
Age                          int64
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
JobRole                     object
MonthlyIncome                int64
NumCompaniesWorked         float64
PercentSalaryHike            int64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
EnvironmentSatisfaction    float64
JobSatisfaction            float64
WorkLifeBalance            float64
JobInvolvement               int64
PerformanceRating            int64
retiro_2016                 object
renuncia2016                 int64
dtype: object

**Head**

,EmployeeID,Age,BusinessTravel,Department,DistanceFromHome,Education,JobRole,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,retiro_2016,renuncia2016
0,1,51,Travel_Rarely,Sales,6,2,Healthcare Representative,131160,1.0,11,6,1,0,3.0,4.0,2.0,3,3,NaN,0
1,2,31,Travel_Frequently,Research & Development,10,1,Research Scientist,41890,0.0,23,3,5,1,3.0,2.0,4.0,2,4,Resignation,1
2,3,32,Travel_Frequently,Research & Development,17,4,Sales Executive,193280,1.0,15,2,5,0,2.0,2.0,1.0,3,3,NaN,0
3,4,38,Non-Travel,Research & Development,2,5,Human Resources,83210,3.0,11,5,8,7,4.0,4.0,3.0,2,3,NaN,0
4,5,32,Travel_Rarely,Research & Development,10,1,Sales Executive,23420,4.0,12,2,6,0,4.0,1.0,3.0,3,3,NaN,0

**NA**

EmployeeID                    0
Age                           0
BusinessTravel                0
Department                    0
DistanceFromHome              0
Education                     0
JobRole                       0
MonthlyIncome                 0
NumCompaniesWorked            0
PercentSalaryHike             0
TrainingTimesLastYear         0
YearsAtCompany                0
YearsSinceLastPromotion       0
EnvironmentSatisfaction       0
JobSatisfaction               0
WorkLifeBalance               0
JobInvolvement                0
PerformanceRating             0
retiro_2016                3672
renuncia2016                  0
dtype: int64

**Duplicated**

np.int64(0)

Se elimina la variable retiro 2016 porque no es relevante.

In [15]:
del df_2015['retiro_2016']
df_2015.columns

Index(['EmployeeID', 'Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'JobRole', 'MonthlyIncome', 'NumCompaniesWorked',
       'PercentSalaryHike', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'EnvironmentSatisfaction', 'JobSatisfaction',
       'WorkLifeBalance', 'JobInvolvement', 'PerformanceRating',
       'renuncia2016'],
      dtype='object')

In [16]:
check_df(df_2016)

**Shape**

(4308, 18)

**Types**

EmployeeID                   int64
Age                          int64
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
JobRole                     object
MonthlyIncome                int64
NumCompaniesWorked         float64
PercentSalaryHike            int64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
EnvironmentSatisfaction    float64
JobSatisfaction            float64
WorkLifeBalance            float64
JobInvolvement               int64
PerformanceRating            int64
dtype: object

**Head**

,EmployeeID,Age,BusinessTravel,Department,DistanceFromHome,Education,JobRole,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,1,51,Travel_Rarely,Sales,6,2,Healthcare Representative,131160,1.0,11,6,1,0,3.0,4.0,2.0,3,3
1,3,32,Travel_Frequently,Research & Development,17,4,Sales Executive,193280,1.0,15,2,5,0,2.0,2.0,1.0,3,3
2,4,38,Non-Travel,Research & Development,2,5,Human Resources,83210,3.0,11,5,8,7,4.0,4.0,3.0,2,3
3,5,32,Travel_Rarely,Research & Development,10,1,Sales Executive,23420,4.0,12,2,6,0,4.0,1.0,3.0,3,3
4,6,46,Travel_Rarely,Research & Development,8,3,Research Director,40710,3.0,13,5,7,7,3.0,2.0,2.0,3,3

**NA**

EmployeeID                 0
Age                        0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
JobRole                    0
MonthlyIncome              0
NumCompaniesWorked         0
PercentSalaryHike          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
EnvironmentSatisfaction    0
JobSatisfaction            0
WorkLifeBalance            0
JobInvolvement             0
PerformanceRating          0
dtype: int64

**Duplicated**

np.int64(0)

Conversión de variables numéricas a categoricas debido al tratamiento que posteriormente se les dará

In [32]:
df_2015['EmployeeID'] = df_2015['EmployeeID'].astype(str)
df_2015['EnvironmentSatisfaction'] = df_2015['EnvironmentSatisfaction'].astype(str)
df_2015['JobSatisfaction'] = df_2015['JobSatisfaction'].astype(str)
df_2015['WorkLifeBalance'] = df_2015['WorkLifeBalance'].astype(str)
df_2015['JobInvolvement'] = df_2015['JobInvolvement'].astype(str)
df_2015['PerformanceRating'] = df_2015['PerformanceRating'].astype(str)
df_2015['NumCompaniesWorked'] = df_2015['NumCompaniesWorked'].astype(int)
df_2015['PercentSalaryHike'] = df_2015['PercentSalaryHike'] / 100

In [33]:
df_2016['EmployeeID'] = df_2016['EmployeeID'].astype(str)
df_2016['EnvironmentSatisfaction'] = df_2016['EnvironmentSatisfaction'].astype(str)
df_2016['JobSatisfaction'] = df_2016['JobSatisfaction'].astype(str)
df_2016['WorkLifeBalance'] = df_2016['WorkLifeBalance'].astype(str)
df_2016['JobInvolvement'] = df_2016['JobInvolvement'].astype(str)
df_2016['PerformanceRating'] = df_2016['PerformanceRating'].astype(str)
df_2016['NumCompaniesWorked'] = df_2016['NumCompaniesWorked'].astype(int)
df_2016['PercentSalaryHike'] = df_2016['PercentSalaryHike'].astype(float)
df_2016['PercentSalaryHike'] = df_2016['PercentSalaryHike'] / 100

## <font color='157699'> Análisis gráfico

In [30]:
x_numeric = df_2015.select_dtypes(int)
x_cat = df_2015.select_dtypes(object)

print(x_numeric.columns)
print(x_cat.columns)

Index(['Age', 'DistanceFromHome', 'Education', 'MonthlyIncome',
       'NumCompaniesWorked', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'renuncia2016'],
      dtype='object')
Index(['EmployeeID', 'BusinessTravel', 'Department', 'JobRole',
       'EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance',
       'JobInvolvement', 'PerformanceRating'],
      dtype='object')

### Variables numéricas