## <font color='157699'> Importación de Librerías
---

In [1]:
# Ignorar warnings
import warnings
warnings.filterwarnings("ignore")
warnings.filterwarnings("default")

In [2]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
import sqlite3 as sql 
import a_funciones as funciones

In [3]:
from IPython.display import display, Markdown
pd.set_option('display.max_columns', None)

## <font color='157699'> Importación de Datos
---

In [7]:
# Manuela 
# Datos del 2015
df_2015 = pd.read_csv("C:\Users\Manuela\Documents\Analitica 3\Analitica_3_Proyecto_1\processed_data_2015.csv", sep =",")
# Datos del 2016
df_2016 = pd.read_csv("C:\Users\Manuela\Documents\Analitica 3\Analitica_3_Proyecto_1\processed_data_2016.csv", sep =",")

In [ ]:
# Sofia
# Datos del 2015
df_2015 = pd.read_csv("C:\Users\Manuela\Documents\Analitica 3\Analitica_3_Proyecto_1\processed_data_2015.csv", sep =",")
# Datos del 2016
df_2016 = pd.read_csv("C:\Users\Manuela\Documents\Analitica 3\Analitica_3_Proyecto_1\processed_data_2016.csv", sep =",")

In [4]:
# Leo
# Datos del 2015
df_2015 = pd.read_csv("C:/Users/cr-19/OneDrive - Universidad de Antioquia/2024-2/Aplicaciones de la Analítica/Entregas/Analitica_3_Proyecto_1/processed_data_2015.csv", sep =",")
# Datos del 2016
df_2016 = pd.read_csv("C:/Users/cr-19/OneDrive - Universidad de Antioquia/2024-2/Aplicaciones de la Analítica/Entregas/Analitica_3_Proyecto_1/processed_data_2015.csv", sep =",")

In [ ]:
# Karen
# Datos del 2015
df_2015 = pd.read_csv("C:\Users\Manuela\Documents\Analitica 3\Analitica_3_Proyecto_1\processed_data_2015.csv", sep =",")
# Datos del 2016
df_2016 = pd.read_csv("C:\Users\Manuela\Documents\Analitica 3\Analitica_3_Proyecto_1\processed_data_2016.csv", sep =",")

## <font color='157699'> Análisis descriptivo

In [6]:
'''
Esta función debe ir en el archivo funciones pero como no me da para importarlo mientras la coloco por acá
'''
def check_df(dataframe, head=5):
    display(Markdown('**Shape**'))
    display(dataframe.shape)

    display(Markdown('**Types**'))
    display(dataframe.dtypes)

    display(Markdown('**Head**'))
    display(dataframe.head(head))

    display(Markdown('**NA**'))
    display(dataframe.isnull().sum())

    display(Markdown("**Duplicated**"))
    display(dataframe.duplicated().sum())

    display(Markdown('**Quantiles**'))
    display(dataframe.describe([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

In [7]:
check_df(df_2015)

**Shape**

(4410, 20)

**Types**

EmployeeID                   int64
Age                          int64
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
JobRole                     object
MonthlyIncome                int64
NumCompaniesWorked         float64
PercentSalaryHike            int64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
EnvironmentSatisfaction    float64
JobSatisfaction            float64
WorkLifeBalance            float64
JobInvolvement               int64
PerformanceRating            int64
retiro_2016                 object
renuncia2016                 int64
dtype: object

**Head**

,EmployeeID,Age,BusinessTravel,Department,DistanceFromHome,Education,JobRole,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,retiro_2016,renuncia2016
0,1,51,Travel_Rarely,Sales,6,2,Healthcare Representative,131160,1.0,11,6,1,0,3.0,4.0,2.0,3,3,NaN,0
1,2,31,Travel_Frequently,Research & Development,10,1,Research Scientist,41890,0.0,23,3,5,1,3.0,2.0,4.0,2,4,Resignation,1
2,3,32,Travel_Frequently,Research & Development,17,4,Sales Executive,193280,1.0,15,2,5,0,2.0,2.0,1.0,3,3,NaN,0
3,4,38,Non-Travel,Research & Development,2,5,Human Resources,83210,3.0,11,5,8,7,4.0,4.0,3.0,2,3,NaN,0
4,5,32,Travel_Rarely,Research & Development,10,1,Sales Executive,23420,4.0,12,2,6,0,4.0,1.0,3.0,3,3,NaN,0

**NA**

EmployeeID                    0
Age                           0
BusinessTravel                0
Department                    0
DistanceFromHome              0
Education                     0
JobRole                       0
MonthlyIncome                 0
NumCompaniesWorked           19
PercentSalaryHike             0
TrainingTimesLastYear         0
YearsAtCompany                0
YearsSinceLastPromotion       0
EnvironmentSatisfaction      25
JobSatisfaction              20
WorkLifeBalance              38
JobInvolvement                0
PerformanceRating             0
retiro_2016                3760
renuncia2016                  0
dtype: int64

**Duplicated**

0

**Quantiles**

,count,mean,std,min,0%,5%,50%,95%,99%,100%,max
EmployeeID,4410.0,2266.500000,1459.625988,1.0,1.0,221.45,2205.5,4223.55,8534.64,8813.0,8813.0
Age,4410.0,36.923810,9.133301,18.0,18.0,24.00,36.0,54.00,58.91,60.0,60.0
DistanceFromHome,4410.0,9.192517,8.105026,1.0,1.0,1.00,7.0,26.00,29.00,29.0,29.0
Education,4410.0,2.912925,1.023933,1.0,1.0,1.00,3.0,4.00,5.00,5.0,5.0
MonthlyIncome,4410.0,65029.312925,47068.888559,10090.0,10090.0,20970.00,49190.0,178560.00,196269.10,199990.0,199990.0
NumCompaniesWorked,4391.0,2.694830,2.498887,0.0,0.0,0.00,2.0,8.00,9.00,9.0,9.0
PercentSalaryHike,4410.0,15.209524,3.659108,11.0,11.0,11.00,14.0,22.00,25.00,25.0,25.0
TrainingTimesLastYear,4410.0,2.799320,1.288978,0.0,0.0,1.00,3.0,5.00,6.00,6.0,6.0
YearsAtCompany,4410.0,7.008163,6.125135,0.0,0.0,1.00,5.0,20.00,31.00,40.0,40.0
YearsSinceLastPromotion,4410.0,2.187755,3.221699,0.0,0.0,0.00,1.0,9.00,14.00,15.0,15.0
EnvironmentSatisfaction,4385.0,2.723603,1.092756,1.0,1.0,1.00,3.0,4.00,4.00,4.0,4.0
JobSatisfaction,4390.0,2.728246,1.101253,1.0,1.0,1.00,3.0,4.00,4.00,4.0,4.0
WorkLifeBalance,4372.0,2.761436,0.706245,1.0,1.0,1.00,3.0,4.00,4.00,4.0,4.0
JobInvolvement,4410.0,2.729932,0.711400,1.0,1.0,1.00,3.0,4.00,4.00,4.0,4.0
PerformanceRating,4410.0,3.153741,0.360742,3.0,3.0,3.00,3.0,4.00,4.00,4.0,4.0
renuncia2016,4410.0,0.132653,0.339238,0.0,0.0,0.00,0.0,1.00,1.00,1.0,1.0

La base de datos db_general contiene 8820 filas y 24 columnas. Las columnas están distribuidas de la siguiente manera:

- **8 columnas de tipo object:** ['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'InfoDate'].

- **2 columnas de tipo flotante:** ['NumCompaniesWorked', 'TotalWorkingYears'].

- **14 columnas de tipo entero:** ['Age', 'DistanceFromHome', 'Education', 'EmployeeCount', 'EmployeeID', 'JobLevel', 'MonthlyIncome', 'PercentSalaryHike', 'StandardHours', 'StockOptionLevel', 'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'].

Se observa que los datos en las columnas de tipo flotante podrían ser tratados como números enteros. Además, los datos faltantes están presentes únicamente en las columnas NumCompaniesWorked y TotalWorkingYears con 38  y 18 datos faltantes respectivamente.

Finalmente, no se encontraron registros duplicados en la base de datos db_general.

In [8]:
check_df(df_2016)

**Shape**

(4410, 20)

**Types**

EmployeeID                   int64
Age                          int64
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
JobRole                     object
MonthlyIncome                int64
NumCompaniesWorked         float64
PercentSalaryHike            int64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
EnvironmentSatisfaction    float64
JobSatisfaction            float64
WorkLifeBalance            float64
JobInvolvement               int64
PerformanceRating            int64
retiro_2016                 object
renuncia2016                 int64
dtype: object

**Head**

,EmployeeID,Age,BusinessTravel,Department,DistanceFromHome,Education,JobRole,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,retiro_2016,renuncia2016
0,1,51,Travel_Rarely,Sales,6,2,Healthcare Representative,131160,1.0,11,6,1,0,3.0,4.0,2.0,3,3,NaN,0
1,2,31,Travel_Frequently,Research & Development,10,1,Research Scientist,41890,0.0,23,3,5,1,3.0,2.0,4.0,2,4,Resignation,1
2,3,32,Travel_Frequently,Research & Development,17,4,Sales Executive,193280,1.0,15,2,5,0,2.0,2.0,1.0,3,3,NaN,0
3,4,38,Non-Travel,Research & Development,2,5,Human Resources,83210,3.0,11,5,8,7,4.0,4.0,3.0,2,3,NaN,0
4,5,32,Travel_Rarely,Research & Development,10,1,Sales Executive,23420,4.0,12,2,6,0,4.0,1.0,3.0,3,3,NaN,0

**NA**

EmployeeID                    0
Age                           0
BusinessTravel                0
Department                    0
DistanceFromHome              0
Education                     0
JobRole                       0
MonthlyIncome                 0
NumCompaniesWorked           19
PercentSalaryHike             0
TrainingTimesLastYear         0
YearsAtCompany                0
YearsSinceLastPromotion       0
EnvironmentSatisfaction      25
JobSatisfaction              20
WorkLifeBalance              38
JobInvolvement                0
PerformanceRating             0
retiro_2016                3760
renuncia2016                  0
dtype: int64

**Duplicated**

0

**Quantiles**

,count,mean,std,min,0%,5%,50%,95%,99%,100%,max
EmployeeID,4410.0,2266.500000,1459.625988,1.0,1.0,221.45,2205.5,4223.55,8534.64,8813.0,8813.0
Age,4410.0,36.923810,9.133301,18.0,18.0,24.00,36.0,54.00,58.91,60.0,60.0
DistanceFromHome,4410.0,9.192517,8.105026,1.0,1.0,1.00,7.0,26.00,29.00,29.0,29.0
Education,4410.0,2.912925,1.023933,1.0,1.0,1.00,3.0,4.00,5.00,5.0,5.0
MonthlyIncome,4410.0,65029.312925,47068.888559,10090.0,10090.0,20970.00,49190.0,178560.00,196269.10,199990.0,199990.0
NumCompaniesWorked,4391.0,2.694830,2.498887,0.0,0.0,0.00,2.0,8.00,9.00,9.0,9.0
PercentSalaryHike,4410.0,15.209524,3.659108,11.0,11.0,11.00,14.0,22.00,25.00,25.0,25.0
TrainingTimesLastYear,4410.0,2.799320,1.288978,0.0,0.0,1.00,3.0,5.00,6.00,6.0,6.0
YearsAtCompany,4410.0,7.008163,6.125135,0.0,0.0,1.00,5.0,20.00,31.00,40.0,40.0
YearsSinceLastPromotion,4410.0,2.187755,3.221699,0.0,0.0,0.00,1.0,9.00,14.00,15.0,15.0
EnvironmentSatisfaction,4385.0,2.723603,1.092756,1.0,1.0,1.00,3.0,4.00,4.00,4.0,4.0
JobSatisfaction,4390.0,2.728246,1.101253,1.0,1.0,1.00,3.0,4.00,4.00,4.0,4.0
WorkLifeBalance,4372.0,2.761436,0.706245,1.0,1.0,1.00,3.0,4.00,4.00,4.0,4.0
JobInvolvement,4410.0,2.729932,0.711400,1.0,1.0,1.00,3.0,4.00,4.00,4.0,4.0
PerformanceRating,4410.0,3.153741,0.360742,3.0,3.0,3.00,3.0,4.00,4.00,4.0,4.0
renuncia2016,4410.0,0.132653,0.339238,0.0,0.0,0.00,0.0,1.00,1.00,1.0,1.0

En la base de datos df_manager contiene 8820 filas y 5 columnas. Las columnas están distribuidas de la siguiente manera:

- **1 columna tipo objeto:** ['DateSurvey'].
- **3 columnas tipo float:** ['EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance']
- **1 columna tipo entero:** ['EmployeeID']

Se observan 166 datos faltantes de 3 columnas que son  40 de EnvironmentSatisfaction, 50 de JobSatisfaction y 76 de WorkLifeBalance

En la base de datos df_manager se observan 8820 filas y 4 columnas, las cuales se distribuyen así:

- **1 columna tipo objeto:** ['SurveyDate'].
- **3 columnas tipo entero:** ['EmployeeID', 'JobInvolvement', 'PerformanceRating'].

No hay datos faltantes ni duplicados.

En la base de datos df_retirement hay 711 filas y 5 columnas, las cuales se distribuen así:

- **4 columnas tipo objeto:** ['Attrition', 'retirementDate', 'retirementType', 'resignationReason'].
- **1 columna tipo entero:** ['EmployeeID']

Además se observa que hay 70 nulos en los datos de resignationReason, es decir que las personas se abstuvieron de decir por qué fue el retiro.