## Librerías

In [12]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import SelectKBest, f_regression, mutual_info_regression,  f_classif, mutual_info_classif, chi2
from sklearn.preprocessing import MinMaxScaler

import pandas as pd
import a_funciones as funciones

## Importación de datos

In [3]:
# Manuela 
# Datos del 2015
df_2015 = pd.read_csv("C:\\Users\\Manuela\\Documents\\Analitica 3\\Analitica_3_Proyecto_1\\processed_data_2015.csv", sep =",")
# Datos del 2016
df_2016 = pd.read_csv("C:\\Users\Manuela\\Documents\\Analitica 3\\Analitica_3_Proyecto_1\\processed_data_2016.csv", sep =",")

## Métodos de Filtrado


### Umbral de Varianza

In [8]:
x_numericos = df_2015.select_dtypes(include = ["number"]) # solo variables númericas
x_numericos.head()

,EmployeeID,Age,DistanceFromHome,Education,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,renuncia2016
0,1,51,6,2,131160,1.0,11,6,1,0,3.0,4.0,2.0,3,3,0
1,2,31,10,1,41890,0.0,23,3,5,1,3.0,2.0,4.0,2,4,1
2,3,32,17,4,193280,1.0,15,2,5,0,2.0,2.0,1.0,3,3,0
3,4,38,2,5,83210,3.0,11,5,8,7,4.0,4.0,3.0,2,3,0
4,5,32,10,1,23420,4.0,12,2,6,0,4.0,1.0,3.0,3,3,0

In [9]:
del x_numericos['renuncia2016']
x_numericos.describe()

,EmployeeID,Age,DistanceFromHome,Education,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
count,4308.000000,4308.000000,4308.000000,4308.000000,4308.000000,4308.000000,4308.000000,4308.000000,4308.000000,4308.000000,4308.000000,4308.000000,4308.000000,4308.000000,4308.000000
mean,2272.788069,36.929666,9.195915,2.913881,65062.451253,2.692201,15.213556,2.796657,7.027391,2.189183,2.724234,2.725395,2.761606,2.728180,3.154132
std,1463.076441,9.141227,8.095447,1.024321,47042.610566,2.496799,3.662748,1.289873,6.146852,3.231449,1.093322,1.101337,0.707217,0.711232,0.361117
min,1.000000,18.000000,1.000000,1.000000,10090.000000,0.000000,11.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,3.000000
25%,1108.750000,30.000000,2.000000,2.000000,29222.500000,1.000000,12.000000,2.000000,3.000000,0.000000,2.000000,2.000000,2.000000,2.000000,3.000000
50%,2214.500000,36.000000,7.000000,3.000000,49360.000000,2.000000,14.000000,3.000000,5.000000,1.000000,3.000000,3.000000,3.000000,3.000000,3.000000
75%,3313.250000,43.000000,14.000000,4.000000,83810.000000,4.000000,18.000000,3.000000,9.250000,3.000000,4.000000,4.000000,3.000000,3.000000,3.000000
max,8813.000000,60.000000,29.000000,5.000000,199990.000000,9.000000,25.000000,6.000000,40.000000,15.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [ ]:
# Función de filtro de caracteristicas
def variance_threshold(X,th): # recibe el dataframe y el umbral
    var_thres = VarianceThreshold(threshold=th) # crea la función con base en el umbral
    var_thres.fit(X) # alimenta los datos con la función creada
    new_cols = var_thres.get_support() # devuelve las columnas
    return new_cols

In [15]:
from sklearn.preprocessing import MinMaxScaler

def normalize_dataframe(df):
    # Crear una copia del DataFrame original
    df1 = df.copy(deep=True)
    
    # Asignar el tipo de normalización
    scaler = MinMaxScaler()
    
    # Normalizar los datos
    sv = scaler.fit_transform(df1.iloc[:, :])
    
    # Asignar los nuevos datos al DataFrame
    df1.iloc[:, :] = sv
    
    # Retornar el DataFrame normalizado
    return df1

In [18]:
# Ejemplo de uso:
df_normalizado = normalize_dataframe(x_numericos)
df_normalizado

C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1870275278.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.00000000e+00 1.13481616e-04 2.26963232e-04 ... 9.98411257e-01
 9.98751702e-01 1.00000000e+00]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:, :] = sv
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1870275278.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.78571429 0.30952381 0.33333333 ... 0.35714286 0.33333333 0.45238095]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:, :] = sv
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1870275278.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.17857143 0.32142857 0.57142857 ... 0.         0.78571429 0.03571429]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:, :] = sv
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1870275278.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.25 0.   0.75 ... 0.5  0.   0.5 ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:, :] = sv
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1870275278.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.63754608 0.16745656 0.96466561 ... 0.21790416 0.07682991 0.15755661]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:, :] = sv
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1870275278.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.         0.85714286 0.28571429 ... 0.         0.         0.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:, :] = sv
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1870275278.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.         0.5        0.33333333 ... 0.33333333 0.33333333 0.33333333]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:, :] = sv
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1870275278.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.025 0.125 0.125 ... 0.225 0.075 0.025]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:, :] = sv
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1870275278.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.         0.06666667 0.         ... 0.06666667 0.06666667 0.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:, :] = sv
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1870275278.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.66666667 0.33333333 0.66666667 ... 0.66666667 0.66666667 0.66666667]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:, :] = sv

,EmployeeID,Age,DistanceFromHome,Education,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,0.000000,0.785714,0.178571,0.25,0.637546,0.111111,0.000000,1.000000,0.025,0.000000,0.666667,1.000000,0.333333,0.666667,0
1,0.000113,0.309524,0.321429,0.00,0.167457,0.000000,0.857143,0.500000,0.125,0.066667,0.666667,0.333333,1.000000,0.333333,1
2,0.000227,0.333333,0.571429,0.75,0.964666,0.111111,0.285714,0.333333,0.125,0.000000,0.333333,0.333333,0.000000,0.666667,0
3,0.000340,0.476190,0.035714,1.00,0.385045,0.333333,0.000000,0.833333,0.200,0.466667,1.000000,1.000000,0.666667,0.333333,0
4,0.000454,0.333333,0.321429,0.00,0.070195,0.444444,0.071429,0.333333,0.150,0.000000,1.000000,0.000000,0.666667,0.666667,0

In [13]:
# Normalizar los datos
df1 = x_numericos.copy(deep = True)  # crear una copia del DataFrame
scaler = MinMaxScaler() # asignar el tipo de normalización
sv = scaler.fit_transform(df1.iloc[:,:]) # normalizar los datos
df1.iloc[:,:] = sv # asignar los nuevos datos
df1.head()

C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1854672012.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.00000000e+00 1.13481616e-04 2.26963232e-04 ... 9.98411257e-01
 9.98751702e-01 1.00000000e+00]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:,:] = sv # asignar los nuevos datos
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1854672012.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.78571429 0.30952381 0.33333333 ... 0.35714286 0.33333333 0.45238095]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:,:] = sv # asignar los nuevos datos
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1854672012.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.17857143 0.32142857 0.57142857 ... 0.         0.78571429 0.03571429]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:,:] = sv # asignar los nuevos datos
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1854672012.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.25 0.   0.75 ... 0.5  0.   0.5 ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:,:] = sv # asignar los nuevos datos
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1854672012.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.63754608 0.16745656 0.96466561 ... 0.21790416 0.07682991 0.15755661]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:,:] = sv # asignar los nuevos datos
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1854672012.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.         0.85714286 0.28571429 ... 0.         0.         0.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:,:] = sv # asignar los nuevos datos
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1854672012.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.         0.5        0.33333333 ... 0.33333333 0.33333333 0.33333333]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:,:] = sv # asignar los nuevos datos
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1854672012.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.025 0.125 0.125 ... 0.225 0.075 0.025]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:,:] = sv # asignar los nuevos datos
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1854672012.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.         0.06666667 0.         ... 0.06666667 0.06666667 0.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:,:] = sv # asignar los nuevos datos
C:\Users\Manuela\AppData\Local\Temp\ipykernel_9876\1854672012.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.66666667 0.33333333 0.66666667 ... 0.66666667 0.66666667 0.66666667]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[:,:] = sv # asignar los nuevos datos

,EmployeeID,Age,DistanceFromHome,Education,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,0.000000,0.785714,0.178571,0.25,0.637546,0.111111,0.000000,1.000000,0.025,0.000000,0.666667,1.000000,0.333333,0.666667,0
1,0.000113,0.309524,0.321429,0.00,0.167457,0.000000,0.857143,0.500000,0.125,0.066667,0.666667,0.333333,1.000000,0.333333,1
2,0.000227,0.333333,0.571429,0.75,0.964666,0.111111,0.285714,0.333333,0.125,0.000000,0.333333,0.333333,0.000000,0.666667,0
3,0.000340,0.476190,0.035714,1.00,0.385045,0.333333,0.000000,0.833333,0.200,0.466667,1.000000,1.000000,0.666667,0.333333,0
4,0.000454,0.333333,0.321429,0.00,0.070195,0.444444,0.071429,0.333333,0.150,0.000000,1.000000,0.000000,0.666667,0.666667,0

In [ ]:
df1.describe() # miremos sus metricas

In [ ]:
# Obtener columnas seleccionadas
import math as mt

# Parametros para definir que era constante:
desviacion = 0.21 # eliminar todo cuya desviación estandar sea menor a 0.21, teniendo en cuenta tabla anterior
varianza = desviacion**2

# Resultados
print('Desviación estandar:', mt.sqrt(varianza))
print('Varianza:', varianza)
x_new = variance_threshold(df1, varianza)
df_new_int = df1.iloc[:,x_new] # nuevo dataframe
df_new_int.head()

Selección Univariante

In [ ]:
x_num = df.select_dtypes(include = ["number"]) # filtrar solo variables númericas
y = df['Credit Risk']
x_num.head()

In [ ]:
# Normalización de datos
x_num_norm = x_num.copy(deep = True)  # copia
scaler = MinMaxScaler() # Se usará minmaxScaler
sv = scaler.fit_transform(x_num_norm.iloc[:,:]) # normalizar los datos
x_num_norm.iloc[:,:] = sv # asignar los nuevos datos
x_num_norm.head()

In [ ]:
# Función de filtro de caracteristicas - stadis. scores
def select_kbest(X,y,score_f,k): #se establece una funcion que permite sacar varias funciones de evaluacion
    sel_kb = SelectKBest(score_func=score_f, k=k)
    sel_kb.fit(X,y)
    scores = sel_kb.scores_
    pvalues = sel_kb.pvalues_
    new_cols = sel_kb.get_support()
    print("Scores:\n", scores, "\nP-values:\n", pvalues)

In [ ]:
#F Classif 
x_new, scores, pvalues = select_kbest(x_num_norm, y,  f_classif, 3) # Obtener columnas seleciconadas - (3 caracteristicas)
df_new = x_num.iloc[:,x_new] # Nuevo conjunto de datos
df_new.head() #se escogen los valores p mas pequeños, y las variables tiene relacion con la variable objetivo

In [ ]:
def plot(metric, features, name):
    features = features
    fig, ax = plt.subplots(figsize=(10, 6))  # Ajuste el tamaño de la figura según sea necesario
    width = 0.4  # Ancho de las barras
    ax.bar(np.arange(len(metric)), metric, width=width)
    ax.set_xlabel('Features')
    ax.set_ylabel(name)
    ax.set_xticks(np.arange(len(metric)))
    ax.set_xticklabels(features)
    plt.xticks(rotation=45, ha='right')  # Rotar etiquetas para mejor visualización
    plt.tight_layout()  # Ajustar el diseño para evitar superposiciones
    return plt.show()

In [ ]:
plot(scores, x_num.columns, 'F-values')
plot(pvalues, x_num.columns, 'P-values')

## Métodos Wrapper

RFE (Recursive Feature Elimination)

In [ ]:
# Función recursiva de selección de características
def recursive_feature_selection(X,y,model,k): #model=modelo que me va a servir de estimador en este caso de regresión logística
  rfe = RFE(model, n_features_to_select=k, step=1)# step=1 cada cuanto el toma la sucesión de tomar una caracteristica
  fit = rfe.fit(X, y)
  X_new = fit.support_
  print("Num Features: %s" % (fit.n_features_))
  print("Selected Features: %s" % (fit.support_))
  print("Feature Ranking: %s" % (fit.ranking_))

  return X_new

In [ ]:
#  Estimador en este caso para regresión logística (problema de clasificación)
model = LogisticRegressionCV()

# Obtener columnas seleciconadas - (4 caracteristicas)
X_new = recursive_feature_selection(x_num_norm, y, model, 4)

# Nuevo conjunto de datos
df_new = x_num.iloc[:,X_new]
df_new.head()

## Métodos Integrados

Regresión Ridge

In [ ]:
# Selector con un modelo de regresión logística
sel_ = SelectFromModel(LogisticRegression(penalty='l2', C=1.0))  # Usamos 'l2' para regularización Ridge

sel_.fit(x_num_norm, y)

# Obtener variables seleccionadas
X_new = sel_.get_support()

df_new = x_num.iloc[:, X_new]
print(df_new.head())